html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  color: white;
}

#version-label {
  position: fixed;
  top: 25px;
  right: -50px;
  width: 200px;
  padding: 15px 0;
  text-align: center;
  background-color: red;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

#version-label #version-title {
  font-weight: bold;
}

#container {
  display: flex;
  height: 100%;
  flex-direction: column;
}

#header {
  display: flex;
  height: 60px;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  font-size: calc(10px + 2vmin);
  background-color: white;
  color: #282c34;
}

#header-logo {
  height: 50%;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
}

#header-title {
  text-decoration: none;
  color: grey;
  margin-right: 20px;
}

.header-item {
  text-decoration: none;
  color: #282c34;
  margin-right: 20px;
}

.header-item-active {
  font-weight: bold;
}