<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>WGSM</title>
      <link rel="shortcut icon" href="/static/img/logo.svg">
      <link rel="stylesheet" href="/static/css/base.css">
      <script src="https://cdn.socket.io/4.0.0/socket.io.min.js" integrity="sha384-DkkWv9oJFWLIydBXXjkBWnG1/fuVhw8YPBq37uvvD6WSYRFRqr21eY5Dg9ZhmWdy" crossorigin="anonymous"></script>
   </head>
   <body>
      <div id="version-label"><span id="version-title">alpha</span> (v{{ app_version }})</div>
      <div id="container">
         <header id="header">
            <img src="/static/img/logo.svg" alt="WGSM Logo" id="header-logo"/>
            <a href="/" id="header-title">WGSM</a>
            <a href="/list" class="header-item">Server</a>
        </header>
        <div>
         <h1>Welcome to WGSM</h1>
         <p>Dashboard comming soon...</p>
        </div>
      </div>
   </body>
</html>